
.full-width-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color:black;
    box-sizing: border-box;
  }
  
  .logo {
    display: flex;
    align-items: center; /* Vertically center */
    gap: 8px; /* Space between image and text */
    color: aliceblue;
  }
  
  
  .full-width-bar .text {
    font-size: 18px;
    font-weight: bold;
    color:'white'
  }

  .coin {
    margin-left: 40%;
    display: flex;
    align-items: center; /* Vertically center */
    gap: 8px; /* Space between image and text */
    color: aliceblue;
    margin-top: 10%;
  }
  
  .alignIcons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2px
  }

  .btn4 {
    cursor: pointer;
    border: solid rgb(187, 204, 0);
    font-family: "system-ui";
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 24px 30px;
    transition: 2s;
    width: 301px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(170, 76, 191) 0%, rgb(70, 36, 184) 100%);
    }
    
    .btn4:hover{
    color: rgb(255, 255, 255);
    width: 337px;
    background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(204, 0, 105);
    border-width: 2px;
    border-style: solid;
    }

    .form__group {
        position: relative;
        padding: 20px 0 0;
        width: 100%;
        max-width: 300px;
      }
      
      .form__field {
        font-family: inherit;
        width: 100%;
        border: none;
        border-bottom: 2px solid #1876d1;
        outline: 0;
        font-size: 17px;
        color: #fff;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
      }
      
      .form__field::placeholder {
        color: transparent;
      }
      
      .form__field:placeholder-shown ~ .form__label {
        font-size: 17px;
        cursor: text;
        top: 20px;
      }
      
      .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 17px;
        color: #1876d1;
        pointer-events: none;
      }
      
      .form__field:focus {
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: #1876d1;
        border-image-slice: 1;
      }
      
      .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 17px;
        color: #1876d1;
        font-weight: 700;
      }
      
      /* reset input */
      .form__field:required, .form__field:invalid {
        box-shadow: none;
      }
    

  