@import url('https://fonts.googleapis.com/css2?Roboto&display=swap');

                        

.btn {
    cursor: pointer; border: solid rgb(187, 204, 0); font-family: "system-ui"; font-size: 14px; color: rgb(255, 255, 255); padding: 10px 30px; transition: 2s; width: 140px; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; border-radius: 50px; background: linear-gradient(90deg, rgb(0, 102, 204) 0%, rgb(197, 0, 204) 100%);
}


.btn:hover{
    
color: rgb(255, 255, 255);
width: 200px;
background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
border-color: rgb(204, 0, 105);
border-width: 2px;
border-style: solid;
}



.btn1 {
    cursor: pointer;
    border: solid rgb(187, 204, 0);
    font-family: "system-ui";
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    transition: 2s;
    width: 140px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(168, 53, 191);
    }
    
    .btn1:hover{
    color: rgb(255, 255, 255);
    width: 200px;
    background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(204, 0, 105);
    border-width: 2px;
    border-style: solid;
    }


                        
                            


    .btn3 {
        cursor: pointer; border: solid rgb(187, 204, 0); font-family: "system-ui"; font-size: 14px; color: rgb(255, 255, 255); padding: 10px 30px; transition: 2s; width: 140px; box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; border-radius: 50px; background: linear-gradient(90deg, rgb(197, 0, 204) 0%, rgb(0, 102, 204) 100%);
    }


    .btn3:hover{
        
color: rgb(255, 255, 255);
width: 200px;
background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
border-color: rgb(204, 0, 105);
border-width: 2px;
border-style: solid;
    }







.btn4 {
    cursor: pointer;
    border: solid rgb(187, 204, 0);
    font-family: "system-ui";
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 24px 30px;
    transition: 2s;
    width: 301px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(170, 76, 191) 0%, rgb(70, 36, 184) 100%);
    }
    
    .btn4:hover{
    color: rgb(255, 255, 255);
    width: 337px;
    background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(204, 0, 105);
    border-width: 2px;
    border-style: solid;
    }



    .full-width-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        background-color:black;
        box-sizing: border-box;
      }
      
      .logo {
        display: flex;
        align-items: center; /* Vertically center */
        gap: 8px; /* Space between image and text */
        color: aliceblue;
      }
      
      
      .full-width-bar .text {
        font-size: 18px;
        font-weight: bold;
        color:'white'
      }

      .coin {
        margin-left: 40%;
        display: flex;
        align-items: center; /* Vertically center */
        gap: 8px; /* Space between image and text */
        color: aliceblue;
        margin-top: 10%;
      }
      